button img {
    width: 10px;  /* Adjust size to your preference */
    height: 10px;
  }

.submit{
  background: transparent;
  border: 0px;
}

.nav-bar{
  display: flex;
  justify-content: flex-start;
  gap: 30%;
}